#profile_edit
  %section.box
    %article
      .copy
        %h1 My Profile


      = form_for developer, url: profile_path do |f|
        %dl
          %dt
            = label_tag :email
            %dd= developer.email
          %dt
            = f.label :slack_name
            %dd= f.text_field :slack_name, placeholder: 'Enter name...'
          %dt
            = f.label :twitter_handle
            = f.error_message_on :twitter_handle
          %dd= f.text_field :twitter_handle, placeholder: 'Enter handle...'
          %dt
            = f.label :editor
            = f.error_message_on :editor
          %dd= f.select :editor, options_for_select(Developer.editor_options, selected: developer.editor)
        %fieldset.actions
          = f.submit 'Submit'
          = link_to 'cancel', root_path
