%h3 Create an Account

= form_for @developer do |f|
  = f.label :username
  = f.text_field :username
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation, 'Password Confirmation'
  = f.password_field :password_confirmation
  = f.submit "Create Account"
