Create an Account

= form_for :developer do |d|
  = d.label :username
  = d.text_field :username
  = d.label :email
  = d.text_field :email
  = d.label :password
  = d.password_field :password
  = d.label :password_confirmation, 'Password Confirmation'
  = d.password_field :password_confirmation
  = d.submit "Create Account"
