- pagination ||= false

%article.post
  %section.copy
    = Phil.markup ["h1 p h2 p ul h3 p", "h1 p"].sample
    - Phil.sometimes do
      %pre
        %code
          :plain
            commodi architectofd jf djakf j fj dkasfd j
      = Phil.paragraphs 1..3
    %footer
      - if pagination
        %nav
          %ul
            %li= link_to "&larr; previous TIL".html_safe, "#"
            %li= link_to "next TIL &rarr;".html_safe, "#"
      %p= Phil.date.strftime("%B %e, %Y")
  %aside
    %ul
      %li
        = link_to "#" do
          more by
          %b= Phil.name
      - Phil.loop 1..4 do
        - lang = %w(assembly bash clojure coffeescript css go html javascript ruby vim).sample
        %li
          %b= link_to "##{lang}", "#", class: lang

