- pagination ||= false
- draft ||= false

- if draft then klass = " draft" end

%article.post{ :class => klass }
  %section
    .post__content.copy
      %h1= link_to Phil.words 1..5
      = Phil.markup Phil.pick(["p", "p h2 p", "p ul p", "p blockquote p", "p h3 p"])
      - Phil.sometimes do
        %pre
          %code
            :plain
              commodi architectofd jf djakf j fj dkasfd j
      - Phil.sometimes do
        %p
          = Phil.words 1..5
          %code= Phil.words 1..5
          = Phil.words 1..5
      - Phil.sometimes do
        = Phil.paragraphs 1..2
      %footer
        %p
          = link_to Phil.name, "#"
          %br
          = link_to Phil.date.strftime("%B %e, %Y"), "#", class: 'post__permalink'
      -# - if draft
      -#   %nav
      -#     %p Draft Post
      -# - elsif pagination
      -#   %nav
      -#     %ul
      -#       %li= link_to "&larr; previous TIL".html_safe, "#"
      -#       %li= link_to "next TIL &rarr;".html_safe, "#"
    %aside
      %ul
        %li= link_to "##{Phil.words(1)}", "#", class: 'post__tag-link'
        %li= link_to "raw", "#", class: 'post__raw-link'
        %li= link_to "permalink", "#", class: 'post__permalink'
        - Phil.sometimes do
          %li= link_to "edit", "#", class: 'post__edit-link'
        %li
          = link_to "#", class: "post__like-link #{Phil.sometimes("liked")}" do
            = Phil.pick 0..120
            %span likes
