%section#home
  - 10.times do
    %article.post
      %section= Phil.markup ["h1 p h2 p ul h3 p", "h1 p", "h1 p p p"].sample
      %aside
        %ul
          %li
            = link_to "#" do
              more by
              %b= Phil.name
          - Phil.loop 1..4 do
            - lang = %w(assembly bash clojure coffeescript css go html javascript ruby vim).sample
            %li
              %b= link_to "##{lang}", "#", class: lang
