%section#statistics
  %header.page_head
    %h1 Statistics
  .wrapper
    %article
      %header
        %h1 Last 30 days
      %ul.activity_chart
        - 30.times do |i|
          %li(data-date="Jan #{i+1}" data-amount="#{Phil.pick 1..20}")
            .activity_chart_bar(style="height: #{Phil.pick 1..99}%")
    %article
      %header
        %h1 Most liked TILs
      %ul.post_list
        - 10.times do
          %li
            = link_to "#" do
              %b
                = Phil.words(1..10).capitalize
              %small
                \##{Phil.words(1)}
                %span •
                #{Phil.pick 1..1000} likes
    .stats_column
      %article
        %header
          %h1 Most popular channels
        %ul.post_list
          - Phil.loop(10) do
            %li
              = link_to "#" do
                %b ##{Phil.words(1)}
                %small #{Phil.pick 1..1000} posts

    .stats_column.right
      %article
        %header
          %h1 Most prolific authors
        %ul.post_list
          - Phil.loop(10) do
            %li
              = link_to "#" do
                %b= Phil.name
                %small #{Phil.pick 1..1000} posts
