= form_for @post do |f|
  %dl
    %dt
      = f.label :title
      = f.error_message_on :title
    %dd= f.text_field :title, placeholder: 'Enter title...'
    %dt
      = f.label :body
      = f.error_message_on :body
    %dd= f.text_area :body, placeholder: 'Enter body...'
    %dt
      = f.label :tag_id
      = f.error_message_on :tag_id
    %dd= f.collection_select :tag_id, sorted_tags, :id, :name, include_blank: ""
  %fieldset.actions
    = f.submit 'Submit'
    = link_to 'cancel', root_path
