= form_for @post do |f|
  %dl
    %dt
      = f.label :title
      = f.error_message_on :title
      %small.character_limit(data-limit="#{Post::MAX_TITLE_CHARS}")
    %dd= f.text_field :title, placeholder: 'Enter title...'
    %dt
      = f.label :body
      = f.error_message_on :body
      %small.word_limit(data-limit="#{Post::MAX_WORDS}")
    %dd
      #editor
      = f.text_area :body, placeholder: 'Enter body...', class: 'autosize'

    %dt
      = f.label :channel_id
      = f.error_message_on :channel_id
    %dd= f.collection_select :channel_id, sorted_channels, :id, :name, include_blank: ""
    - if @post.publishable?
      %label.checkbox
        = check_box_tag :published, "true", false
        = label_tag :published, 'Publish this post'
  %fieldset.actions
    = f.submit 'Submit'
    = link_to 'cancel', root_path

%script{src: '/assets/javascripts/ace/ace.js'}

:javascript
  var TIL = TIL || {}
  TIL.editor = "#{current_developer.editor}";
