= form_for @post do |f|
  %p= f.label :title
  %p= f.text_field :title, placeholder: 'Enter title...'
  %p= f.label :body
  %p= f.text_area :body, size: "147x10", placeholder: 'Enter body...'
  %p.label Markdown Preview
  .post_group
    %article.post
      .body
  %p= f.label :tag_id, 'Tag'
  %p= f.collection_select :tag_id, sorted_tags, :id, :name, include_blank: ""
  %p= f.submit 'Submit'


:javascript
  $(document).ready(function(){
    $("#post_body").keyup(function(){
      var txt = $("#post_body").val();
        $.post("/post_preview", {body: txt}, function(result){
          $(".body").html(result);
        });
     });
  });
