= form_for @post do |f|
  %p= f.label :title
  %p= f.text_field :title, size: '50', placeholder: 'Enter title...'
  %p= f.label :body
  %p= f.text_area :body, size: "147x10", placeholder: 'Enter body...'

  %p.label Markdown Preview
  .post_group
    %article.post
      .body

  %p= f.label :tag_id, 'Tag'
  %p= f.collection_select :tag_id, sorted_tags, :id, :name, include_blank: ""
  %p.actions
    %span= f.submit 'Submit'
    %span= link_to 'cancel', root_path
