= form_for @post do |f|
  %p= f.label :title
  %p= f.text_field :title
  %p= f.label :body
  %p= f.text_area :body, size: "90x30"
  %p= f.label :tag_id, 'Tag'
  %p= f.collection_select :tag_id, sorted_tags, :id, :name, include_blank: ""
  %p= f.submit 'Submit'
