.content
  - unless @post_days.any?
    No posts.
  - @post_days.each do |date, posts|
    .post_group
      %em
        - if date.today?
          Today
        - else
          = date.strftime('%A, %b %d')
      %br
      %br
      - posts.each do |post|
        .post
          %strong
            - name = post.developer_username
            = link_to name, "/author/#{name}"
          %h4= post.title
          = raw markdown.render post.body
          = link_to "##{post.tag_name}", "/#{post.tag_name}"
          %br
          %br
