%article.post
  %section.copy
    %h1= link_to post.title, post
    = find_and_preserve markdown_render post.body
    %footer
      = content_for :post_nav
      %p= link_to post.created_at.strftime("%B %e, %Y"), post
  %aside
    %ul
      %li
        = link_to post.developer do
          more by
          %b= post.developer_username
      %li
        %b
          = link_to post.tag, class: post.tag_name do
            \##{post.tag_name}
      - if editable?(post)
        %li
          = link_to [:edit, post], class: "edit" do
            %b edit this post
      %li
        = link_to [post, format: 'md'], class: "edit" do
          %b view raw
