- unless @post_days.any?
  No posts.
- @post_days.each do |date, posts|
  .post_group
    %header
      - if date.today?
        Today
      - else
        = date.strftime('%A, %b %d')

    - posts.each do |post|
      %article.post
        - name = post.developer_username
        .title
          %span= link_to post.title, post_path(post.slug)
          %span //
          %span.username= link_to name, developers_show_path(name)
        .body= find_and_preserve { markdown_render post.body }
        .tag{ class: "#{ post.tag_name }_tag" }= link_to "##{post.tag_name}", tags_show_path(post.tag_name)
        - if editable? post
          = link_to "[edit]", edit_post_path(post.slug)
        = tweet_link post
