%article.post{ :class => unless post.published? then 'draft' end }
  %section
    .post__content.copy
      %h1= link_to post.title, post
      = find_and_preserve markdown_render post.body
      %footer
        - if content_for?(:social)
          %p.post__social= content_for :social
        %p
          = link_to post.developer_username, post.developer
          %br
          = link_to post.display_date.strftime("%B %-e, %Y"), post, class: "post__permalink"
          - unless post.published?
            (draft)
    %aside
      %ul
        %li
          = link_to "##{post.channel_name}", post.channel, class: "post__permalink"
        %li
          = link_to [post, format: 'md'], class: "post__raw-link", target: "_blank" do
            view raw
        %li
          = link_to post, class: 'post__permalink' do
            permalink
        - if editable?(post)
          %li
            = link_to "edit", [:edit, post], class: "post__edit-link"
        - unless post.draft?
          %li
            = link_to post_path(post), class: "js-like-action post__like-link", id: post.slug do
              %span.post__like-count= post.likes
              %span.post__like-label likes

= content_for :post_nav
