%article.post
  %section.copy
    %h1= link_to post.title, post
    = find_and_preserve markdown_render post.body
    %footer
      - if multiple_posts?
        %nav
          %ul
            - unless oldest_post? post
              %li
                = link_to previous_post(post) do
                  &larr; previous TIL
            - unless newest_post? post
              %li
                = link_to next_post(post) do
                  next TIL &rarr;
      %p= post.created_at.strftime("%B %e, %Y")
  %aside
    %ul
      %li
        = link_to post.developer do
          more by
          %b= post.developer_username
      %li
        %b
          = link_to post.tag, class: post.tag_name do
            \##{post.tag_name}
      - if editable?(post)
        %li
          = link_to [:edit, post], class: "edit" do
            %b edit this post
      %li
        = link_to [post, format: 'md'], class: "edit" do
          %b view raw
