%h3 All Posts

.content
  - posts.each_with_index do |p, i|
    %article{id: "#{i}"}
      %strong= p.developer_username
      = '/'
      %strong= p.created_at.strftime('%A, %b %d')
      %br
      = raw markdown.render p.body
      %br
      %em= "Tagged: #{p.tag_name}"
      %br
      %br
