= content_for :head, auto_discovery_link_tag(:atom, root_path(format: "atom"))

- if params[:q].present?
  %section#search
    %header.page_head
      %h1
        #{pluralize @posts.count, "post"}
        about #{params[:q]}

%section#home
  - cache @posts.maximum(:updated_at) do
    = render @posts

%nav.pagination
  = link_to_previous_page @posts, "&larr; newer TILs".html_safe, class: "pagination_newer"
  = link_to_next_page @posts, "older TILs &rarr;".html_safe, class: "pagination_older"
