!!! 5
%html(lang="en-US")
  %head
    %title= [content_for(:page_title), SITE_NAME].compact.join ' - '
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    %link(href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Rosario:400,700italic,700,400italic' rel='stylesheet' type='text/css')
    = favicon_link_tag 'favicon.png'
    = yield :head
  %body
    %header.site_head
      %h1= link_to SITE_NAME, root_path

    = render 'shared/flash'

    %nav.site_nav
      %ul
        - if developer_signed_in?
          %li= link_to current_developer.username, current_developer
          %li= link_to "Sign Out", account_signout_path
          %li= link_to "Create Post", new_post_path
          %li= link_to "Profile", edit_profile_path
          %li= link_to "Stats", statistics_path

    %main= yield

    %aside.site_search
      .search_fields
        = form_tag root_path, method: 'get', enforce_utf8: false do
          = search_field_tag :q
          = submit_tag 'Search', name: nil
        = link_to "search", "#"

    %footer.site_footer
      %p
        &copy;
        = Date.today.year
      %p maintained with love from Jacksonville and Chicago
      %p
        by
        = link_to 'Hashrocket', 'http://hashrocket.com'
