!!! 5
%html(lang="en-US")
  %head
    %title TIL / Hashrocket
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = yield :head
  %body
    %main
      %header
        = link_to root_path do
          %h1 TIL / Hashrocket
        %ul
          - if developer_signed_in?
            %li= link_to current_developer.username, developers_show_path(current_developer.username)
            %li= link_to "Sign Out", account_signout_path
            %li= link_to "Create Post", new_post_path
            %li= link_to "Profile", developers_profile_path
          - else
            %li= link_to "Rocketeer Sign In", google_oauth2_path
        #flash
          - if flash.present?
            - if flash[:notice]
              - [flash[:notice]].flatten.each do |notice|
                %p.notice= notice
            - elsif flash[:error]
              - [flash[:error]].flatten.each do |error|
                %p.error= error

      %section.content
        = yield

      %footer
        %p
          &copy;
          = Date.today.year
          = link_to 'Hashrocket', 'http://hashrocket.com'

