!!! 5
%html(lang="en-US")
  %head
    %title= [content_for(:page_title), SITE_NAME].compact.join(' - ').html_safe
    = stylesheet_link_tag    fingerprinted_asset('application'), media: 'all'
    = javascript_include_tag fingerprinted_asset('application')
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")

    = favicon_link_tag 'favicon.png'
    = yield :head
    %meta(name="twitter:card" content="summary_large_image")
    %meta(name="twitter:site" content="@hashrockettil")
    %meta(name="twitter:creator" content="@hashrockettil")
    %meta(name="twitter:title" content="Today I Learned: a Hashrocket Project")
    %meta(name="twitter:description" content="TIL is an open-source project by Hashrocket that exists to catalogue the sharing & accumulation of knowledge as it happens day-to-day. Posts have a 200-word limit, and posting is open to any Rocketeer as well as select friends of the team. We hope you enjoy learning along with us.")
    %meta(name="twitter:image" content="https://til.hashrocket.com/assets/til_twittercard.png")

    = yield :canonical

  %body
    - if developer_signed_in?
      %nav.admin_panel
        %ul
          %li= link_to current_developer.username, current_developer
          %li= link_to "Sign Out", account_signout_path
          %li= link_to "Create Post", new_post_path
          %li= link_to "Drafts", drafts_path
          %li= link_to "Profile", edit_profile_path

    %header.site_head
      %div
        %h1= link_to SITE_NAME, root_path
        %h2
          = link_to "A Hashrocket project", "https://hashrocket.com", class: "hr"
          %span
            = link_to "Follow on Twitter", "https://twitter.com/hashrockettil", class: "twitter"

    = render 'shared/flash'

    %main= yield

    %nav.site_nav
      %ul
        %li.site_nav__about
          = link_to "?", "#", class: "site_nav__link"
          .site_nav__toggle
            .copy
              :markdown
                TIL is an open-source project by
                [Hashrocket](https://hashrocket.com) that exists to catalogue
                the sharing & accumulation of knowledge as it happens
                day-to-day. Posts have a 200-word limit, and posting is open to
                any Rocketeer as well as selected friends of Hashrocket. We
                hope you enjoy learning along with us.
              %ul.social
                %li= link_to "/hashrockettil", "https://twitter.com/hashrockettil", class: "social_twitter"
                %li= link_to "/hashrocket/hr-til", "https://github.com/hashrocket/hr-til", class: "social_github"

        %li.site_nav__statistics
          = link_to "statistics", statistics_path, class: "site_nav__link"

        %li.site_nav__search
          = link_to "search", "#", class: "site_nav__link"
          .site_nav__toggle>
            = form_tag root_path, method: 'get' do
              = search_field_tag :q
              = button_tag 'Search', name: nil

        %li.site_nav__twitter
          = link_to "Twitter", "https://twitter.com/hashrockettil", class: "site_nav__link"
