!!! 5
%html(lang="en-US")
  %head
    %title= "#{SITE_NAME}"
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    %link(href='http://fonts.googleapis.com/css?family=Raleway:900' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Rosario:400,700italic,700,400italic' rel='stylesheet' type='text/css')
    = yield :head
  %body
    %header.site_head
      %h1= link_to "Today I learned", "#"

    %nav.site_nav
      %ul
        %li= link_to Phil.name, "#"
        %li= link_to "sign out", "#"
        %li= link_to "create post", "#"

    %main= yield

    %footer.site_footer
      %p
        &copy;
        = Date.today.year
        and maintained with love from Jacksonville and Chicago by
        = link_to 'Hashrocket', 'http://hashrocket.com'
