!!! 5
%html(lang="en-US")
  %head
    %title= "#{SITE_NAME}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    %link(href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Rosario:400,700italic,700,400italic' rel='stylesheet' type='text/css')
    = yield :head
  %body

    %header.site_head
      %h1= link_to "Today I learned", "#"

    -# #flash
      -# %p.notice= Phil.words 20
      -# %p.error= Phil.words 20

    %nav.site_nav
      %ul
        %li= link_to Phil.name, "#"
        %li= link_to "sign out", "#"
        %li= link_to "create post", "#"

    %main= yield

    %aside.site_about
      = link_to "?", "#", class: "aside_toggle"
      .copy
        :markdown
          TIL is a project by [Hashrocket](http://hashrocket.com) to catalogue the sharing & accumulation of knowledge as it happens day-to-day. Posts have a 200-word limit and any Hashrocket team member can contribute. We hope you enjoy learning along with us.

    %aside.site_search
      %form<
        .search_fields
          %input(type='search')
          %input(type='submit' value='search')
        = link_to "search", "#", class: "aside_toggle"

    %footer.site_footer
      %p
        &copy;
        = Date.today.year
      %p and maintained with love from Jacksonville and Chicago by
      %p= link_to 'Hashrocket', 'http://hashrocket.com'
