!!! 5
%html(lang="en-US")
  %head
    %title= "#{SITE_NAME}"
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1")
    %link(href='http://fonts.googleapis.com/css?family=Raleway:700,900' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Rosario:400,700italic,700,400italic' rel='stylesheet' type='text/css')
    = yield :head
  %body

    %header.site_head
      %h1= link_to "Today I learned", "#"

    -# #flash
      -# %p.notice= Phil.words 20
      -# %p.error= Phil.words 20

    %nav.site_nav
      %ul
        %li= link_to Phil.name, "#"
        %li= link_to "sign out", "#"
        %li= link_to "create post", "#"
        %li= link_to "drafts", "#"

    %main= yield

    %aside.site_about
      = link_to "?", "#", class: "aside_toggle"
      .site_about__content
        .copy
          :markdown
            TIL is an open-source project by the team at [Hashrocket](http://hashrocket.com) that catalogues the sharing & accumulation of knowledge as it happens day-to-day. Posts have a 200-word limit and any Hashrocket team member can contribute. We hope you enjoy learning along with us.
        %ul.social
          %li= link_to "/hashrockettil", "http://twitter.com/hashrockettil", class: "social_twitter"
          %li= link_to "/hashrockettil", "http://github.com/hashrockettil", class: "social_github"

    %aside.site_statistics
      = link_to "statistics", "#", class: "aside_toggle"

    %aside.site_search
      %form<
        .search_fields
          %input(type='search')
          %input(type='submit' value='search')
        = link_to "search", "#", class: "aside_toggle"

    %footer.site_footer
      %p.site_footer_social
        = link_to "Hashrocket TIL on Twitter", "http://twitter.com/hashrockettil", class: 'footer_twitter'
        = link_to 'Hashrocket', 'http://hashrocket.com', class: 'footer_hashrocket'
        = link_to "Hashrocket TIL on Github", "http://github.com/hashrockettil", class: 'footer_github'
      %p
        curated in Jacksonville and Chicago
        %br/
        by
        = link_to 'Hashrocket', 'http://hashrocket.com'
